/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body{
    color: #000;
    background: #48bbfe;
    min-height: 100vh;
    background: url('/images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    transition: .3s ease;
    pointer-events: auto;
}

/* Full container */
.container{
    background:#fff;
    width:100%;
    min-width: 300px;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding:30px;
    border: 4px solid #000;
    border-radius: 6px;
}
/* Quiz box */
.quiz-section .quiz-box{
    position: relative;
    width: 500px;
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

.quiz-section .quiz-box.hidden{
    opacity: 0;
    pointer-events: none;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: .5s;
}
/* Container Title */
.quiz-box h1{
    font-size: 32px;
    text-align: center;   
    background: linear-gradient(45deg,transparent,#48bbfe,transparent);
    border-radius: 6px;
}
/* Quiz header */
.quiz-box .quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 2px solid #48bbfe;
}

/* timer */
.quiz-header .timer{
    font-size: 18px;
    font-weight: 500;
}

/* Score */
.quiz-header .header-score{
    background: #48bbfe;
    border-radius: 3px;
    padding: 7px;
}

/* Question */
.quiz-box .question-text{
    padding-top: 10px;
    font-size: 24px;
    font-weight: 600;
}


/* Quiz Option list & hover*/
.option-list .option{
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    font-size: 17px;
    margin: 15px 0 ;
    cursor: pointer;
}

.option-list .option:hover{
    background: #000;
    color: #fff;
    border-color: rgba(0, 0, 0, 0.5);
}

/* Option correct or incorrect */
.option-list .option.correct{
    background: #fff;
    color: greenyellow;
    border: 3px solid greenyellow;
}

.option-list .option.incorrect{
    background: #fff;
    color: red;
    border: 3px solid red;
}

/* Options disabled */
.option-list .option.disabled{
    pointer-events: none;
}

/* quiz footer */
.quiz-box .quiz-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #48bbfe;
    padding-top: 20px;
    margin-top: 30px;
}

/* Question total */
.quiz-footer .question-total{
    font-size: 16px;
    font-weight: 600;
}

/* Next button & hover & active*/
.quiz-footer .next-btn{
    width: 100px;
    height: 45px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    pointer-events: none;
}
.quiz-footer .next-btn.active{
    pointer-events: auto;
    background: greenyellow;
    color: #fff;
    border-color: rgba(0, 0, 0, 0.5);
}

.quiz-footer .next-btn.active:hover{
    background: rgb(154, 241, 24);
    border-color: rgba(0, 0, 0, 0.5);
}


/* Hide quiz box */


/* results */
.quiz-section .result-box{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background: transparent;
    border: 3px solid #48bbfe;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    opacity: 0;
    pointer-events: none;
}
.quiz-section .result-box.active{
    opacity: 1;
    pointer-events: auto;
}

/* results header */
.result-box h2{
    font-size: 52px;
}

/* percentage container */
.result-box .percentage-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}

/* Circular progress bar */
.percentage-container .circular-progress{
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(#48bbfe 3.6deg, rgba(114, 51, 51, 0.1) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* animation, before */
.percentage-container .circular-progress::before{
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: #fff;
    border-radius: 50%;
}

/* animation, after */


/* percentage outcome*/
.circular-progress .progress-value{
    position: relative;
    font-size: 45px;
    font-weight: 600;
}

/* score text at bottom */
.percentage-container .score-text{
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}

.percentage-container .timer-text{
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}

/* buttons at bottom */
.quiz-box .buttons{
    display: flex;
}

/* all buttons at .buttons */
.buttons button{
    width: 130px;
    height: 47px;
    background: #48bbfe;
    border: 2px solid #48bbfe;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin: 0 20px 20px;
    cursor: pointer;
    transition: 0.5s;
}

/* try again button & hover*/

.buttons button:nth-child(2){
    background: transparent;
    color: #48bbfe;
}
.buttons button:nth-child(1):hover{
    background: #20a6f3;
    border-color: #20a6f3;
}
/* back to home button hover */
.buttons button:nth-child(2):hover{
    background: #48bbfe;
    color: #fff;
}